@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans&family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F6F5F5;
    width: 100%;
    display: flex;
    position: relative;
    font-family: 'Open Sans';
    /* overflow: hidden; */
}

.sidebar {
    background: #34B5D1;
    width: 300px;
    height: 140vh;
}

.panel {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

div .logo {
    height: 40px;
    width: 40px;
}

.menu img {
    height: 30px;
    width: 30px;
    margin: 0 10px 0 20px;
    cursor: pointer;
}

.menu {
    margin-top: 40px;
}

.menu li {
    list-style: none;
    padding: 15px 0;
}

.menu li a {
    text-decoration: none;
    color: #fff;
    margin-left: 30px
}

.menu li a:hover {
    color: blue;
}

section {
    width: 100%;
}

.profile .img-account {
    margin: 1px;
}

section .nav {
    display: flex;
    justify-content: flex-end;
    background: white;
    align-items: center;
}

h2 {
    text-align: center;
    color: blue;
    padding: 30px;
    margin-left: 10px;
}

.div-form {
    min-width: 600px;
}

label {
    /* text-align: left; */
    display: block;
    font-size: 16px;
    margin: 10px 300px;
    width: 500px;
}

input,
textarea {
    width: 500px;
    padding: 10px;
    margin: 10px 300px;
    margin-bottom: 4px;
    border: 1px solid black;
    box-sizing: border-box;
}

input[type="image"] {
    height: 60px;
    width: 60px;
}

input[type="submit"] {
    width: 100px;
    display: block;
    color: white;
    background: blue;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    padding: 10px 30px 10px 30px;
    margin-bottom: 20px;
}

#img-url {
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: cover;
    margin-left: 300px;
}

.fail {
    color: red;
    margin-top: 0px;
    font-size: 12px;
    margin-left: 300px;
}

.hidden {
    display: none;
}

table {
    width: 100%;
    height: 100px;
    text-align: center;
    padding: 7px;
}

tr {
    border-bottom: 1px solid rgb(161, 152, 152);
    height: 50px;
}

thead tr th {
    font-size: 14px;
    background: blue;
    color: white;
    font-weight: bold;
}

.edited,
.deleted {
    background-color: transparent;
    border: none;
    color: blue;
    cursor: pointer;
}

.edited-button:hover,
.deleteed-button:hover {
    color: red;
}

#update {
    display: none;
}

.delete-button {
    color: red;
}

.edit-button {
    color: blue;
}

.edit-button,
.delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 10px;
}