* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Open Sans';
    overflow-x: hidden;
    color: #dcd9d9;
}

header {
    height: 70px;
    width: 100%;
}

.container {
    height: 100vh;
    width: 60%;
    background: white;
    /* box-shadow: 16px 16px 16px #d3dae7, 16px 16px 16px #d3dae7, 16px 16px 16px #d3dae7; */
}

h1 {
    text-align: center;
    color: blue;
    margin: 30px;
}

h2 {
    color: rgb(0, 166, 255);
    margin-left: 60px;
    margin-bottom: 10px;
}

.text {
    margin: 20px 150px 0 60px;
}

.logo {
    background: blue;
    height: 50px;
    width: 50px;
    color: blue;
    border-radius: 50%;
    padding: 16px;
    margin: 16px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.links {
    /* flex: 1; */
    text-align: right;
}

.links ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
    margin: 0 6px;
    position: relative;
    font-weight: bold;
}

a {
    color: black;
}

.links ul li a:hover {
    color: blue;
}

.container {
    height: 100%;
    margin: 0 auto;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: #F3F3F3;
}

.img-post {
    width: 80%;
    height: 300px;
    margin-left: 60px;
}

p {
    margin: 20px;
    color: blue;
    column-gap: 5px;
}

p {
    margin: 20px;
    text-align: left;
    color: black;
}

.date {
    margin-left: 60px;
}

label {
    color: black;
    /* text-align: left; */
    display: block;
    font-size: 16px;
    margin-left: 60px;
    width: 500px;
}

input,
textarea {
    text-align: left;
    width: 500px;
    padding: 10px;
    margin-left: 60px;
    margin-bottom: 4px;
    background: #F3F3F3;
    border: 1px solid rgb(79, 76, 76);
    box-sizing: border-box;
}

textarea {
    max-height: 300px;
    min-height: 200px;
    max-width: 500px;
}

input[type="submit"] {
    width: 100px;
    display: block;
    color: white;
    background: blue;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    padding: 10px 30px 10px 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.form {
    margin: auto;
    margin-top: 80px;
}

.comment-box {
    flex-basis: 30%;
    border-radius: 10px;
    text-align: center;
    background: rgb(150, 150, 245);
    padding: 20px;
    display: flex;
    margin: 60px;
}

.div-form {
    position: relative;
    padding-bottom: 10px;
}

.div-form label {
    display: inline-block;
    margin-top: 5px;
}

.div-form.pass input {
    border-color: green;
}

.div-form.fail input {
    border-color: red;
}

.div-form small {
    visibility: hidden;
}

.div-form.fail small {
    color: red;
    visibility: visible;
}

small {
    margin-left: 60px;
}

.img-react {
    height: 30px;
    width: 30px;
    margin: 0 10px 0 10px;
}