@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans&family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Open Sans';
    overflow: hidden;
}

header {
    height: 70px;
    width: 100%;
}

.logo {
    background: blue;
    height: 50px;
    width: 50px;
    color: blue;
    border-radius: 50%;
    padding: 16px;
    margin: 16px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.links {
    /* flex: 1; */
    text-align: right;
}

.links ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
    margin: 0 6px;
    position: relative;
    font-weight: bold;
}

a {
    color: black;
}

.links ul li a:hover {
    color: blue;
}

section {
    /* /* width: 100%; */
    height: 90vh;
    background: #D7ECFF;
    background-image: url(images/logsign.jpg);
    background-size: cover;
    background-position: center;
}

h1 {
    color: blue;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

input {
    display: block;
    min-width: 500px;
    border: none;
    margin-top: 50px;
    padding: 20px;
    background: #c5cacf;
}

input[type="submit"] {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background: blue;
    border-radius: 50px;
    min-width: 180px;
    cursor: pointer;
    padding: 14px 32px;
    margin: 0 auto;
    margin-top: 20px;
}

.signup {
    margin-top: 20px;
}

.signup a:hover {
    color: blue;
}